<h1>所有banner</h1>
<br />

<%= link_to '[新banner]', new_kadmin_banner_path %>
<br />
注意： 0-9为首页轮换图片,越大越优先显示, 排序为<%= Banner::TOP_BANNER %>=顶部banner，<%= Banner::LIST_BANNER_SUIT %>为西服列表页banner,<%= Banner::LIST_BANNER_SHIRT %>为衬衫列表页banner,<%= Banner::LIST_BANNER_TEAM %>为工作服列表页banner,
<%= Banner::HOME_SUIT %> 为首页西服, <%= Banner::HOME_SHIRT %> 为首页衬衫
<br/>滚动广告=首页轮换图片，非滚动广告=右侧优惠推广图片

<table>
  <tr class="tbCaption">
    <th>滚动广告</th>
    <th>排序</th>
    <th>简介</th>
    <th>图片</th>
    <th>链接地址</th>
    <th>修改时间</th>
    <th>管理</th>
  </tr>

  <% @banners.each do |banner| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td>
     <% if banner.popularity == Banner::TOP_BANNER %>
     顶部
     <% elsif banner.can_scroll %>
     <%= image_tag("admin/true_small.png", :title => '轮换广告图片') %>
     <% end %>
   </td>
   <td><%=h banner.popularity %></td>
   <td><%= link_to(truncate(h(banner.name)), [:kadmin, banner], :target => '_blank', :title => banner.name) %></td>
   <td><%=h banner.photo_url %></td>
   <td><%= link_to(truncate(h(banner.link_to)), banner.link_to, :target => '_blank', :title => banner.link_to) %></td>
   <td><%= show_time banner.updated_at %></td>
   <td><%= link_to '[查看]', [:kadmin, banner] %></td>
   <td><%= link_to '[修改]', edit_kadmin_banner_path(banner) %></td>
   <td><%= button_to '删除', [:kadmin, banner], :confirm => '确定删除?', :method => :delete %></td>
 </tr>
 <% end %>

</table>
