<div class="login">
    <strong>我的购物车</strong>
</div>

<div class="xian">

  <table width="100%" border="0" cellspacing="0" cellpadding="3">
    <tr>
      <td align="center" bgcolor="#7A7F89" class="fonts">商品编号</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">商品名称</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">尺码</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">单价</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">数量</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">小计</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">删除产品</td>
    </tr>


<% if @items.empty? %>
    <tr><p>您的购物车暂时为空</p></tr>
<% else %>

    <% @items.each do |i| %>
    <tr>
      <td height="40" align="center"><%= i.product.serial_number %></td>
      <td align="center"><%= i.name %></td>
      <td align="center"><%= i.measure %></td>
      <td align="center">￥<%= i.product.our_price %></td>

    <% form_tag({:action => :update, :id => i.product.id}) do %>
      <td align="center"><%= text_field_tag :quantity, i.quantity,
        :size => 3, :onblur => 'this.form.submit()', :title => '修改完后在别处点击鼠标,数量自动更新' %></td>
    <% end %>

      <td align="center">￥<%= i.quantity * i.product.our_price %></td>
      <td align="center"><%=raw link_to('[删除]', :action => :delete, :id => i.product.id) %></td>
    </tr>

    <% end %>
  <% end %>


    <tr>
      <td width="82%" height="60" colspan="8" align="right">
        <table align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" width="200">商品数量总计：<span class="font_cou" id="Product_CT"><%= @cart.quantity %></span><span class="font_cou">件</span></td>

          <% discount = current_user ? current_user.discount : 1 %>
          <td valign="top" width="140">购物优惠：<span class="font_cou"><%=raw show_discount(discount) %></span></td>
          <td align="right">商品金额总计：<span class="font_cou">￥<span id="NewMoney_JS"><%= discount * @cart.price %></span></span></td>
        </tr>


      </table></td>
    </tr>


    <tr>
      <td colspan="8" align="right">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <%=link_to(raw('<img src="/images/pic_gwc__r10_c3.jpg" width="95" height="25" />'), @continue_shopping_url) %>
          </td>
          <td align="center">
            <%=link_to(raw('<img src="/images/pic_gwc__r10_c8.jpg" width="95" height="25" />'), :action => :destroy) %>
          </td>
          <td align="center">
            <%=link_to(raw('<img src="/images/pic_gwc__r2_c10.jpg" width="126" height="32" />'), new_order_path) %>
          </td>
        </tr>

      </table></td>
    </tr>
  </table>

</div>
