<p>
  <b>Name:</b>
  <%=h @help.name %>
</p>

<p>
  <b>Title:</b>
  <%=h @help.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @help.description %>
</p>


<%= link_to 'Edit', edit_help_path(@help) %> |
<%= link_to 'Back', helps_path %>