<!--
  <h2><img src="<%#= @category.logo %>" /></h2>
-->

<% if @list_banner %>
  <div class="list_image">
    <%= image_tag  @list_banner.photo_url , :title=>@list_banner.name , :width=>"730px", :height=>"150px;" %>
  </div>
<% end %>

<% if params[:category] == "shirt" %>
  <%= render "shirt" %>
<% else %>
  <%= render "suit" %>
<% end %>

<dl class="modt">
  <dt>
  <% @subcategories.each do |subcategory| %>
    <span>

      <% if subcategory.id != @subcategory.id %>
        <%= link_to raw(subcategory.name),
          "/#{@category.url}/#{subcategory.url}" %>
      <% else %>
        <strong><%= subcategory.name %></strong>
      <% end %>

    </span>

  <% end %>

  <p>共 <em><%= @subcategory.products.count %></em> 件商品</p>
  </dt>
  <dd>

    <% unless @products.empty? %>

      <ul class="picv">

        <% @products.each do |product| %>

          <li>
            <div>
              <%= link_to raw(photo_tag(product, 0)), product %>
            </div>
            <p><%= product.name %></p>
            <span>
              <em>原价￥<%= product.market_price %></em>
              <strong>售价￥<%= product.our_price %></strong>
            </span>
          </li>


        <% end %>

      </ul>

    <% else %>
      <br />
      <p>该分类下暂无商品</p>
    <% end %>
  </dd>
</dl>

<div class="black2">
  <%= will_paginate @products, :previous_label => '< ',
    :next_label => '> ' %>
</div>
