<div class="category">
  <ul>
    <span>文章主题</span>
    <% @blog_categories.each do |blog_category| %>
      <li><a href="<%= blog_posts_path(:c=>blog_category.id) %>" class="<%= 'focus' if blog_category.id.to_s == params[:c] %>"><%= blog_category.name %></a></li>
    <% end %>
  </ul>
</div>

<div id="posts">
  <h1>您所在的位置: 首页>维衣知识堂>查看资讯</h1>
  <hr class="solid hr"/>
  <div class="list">
    <ul>
      <li class="post">
        <h2><a class="entry-title" href="<%= blog_post_path(@blog_post) %>"><%= @blog_post.title %></a></h2>
        <div class="meta">
          <div class="who_when">
            <img width="16" height="16" alt="" src="<%= @user.avatar_icon %>">
            <span class="author vcard fn"><%= @profile.try(:name) %></span>
            <span class="published"><%= @blog_post.created_at %></span>
          </div>
          <div class="respond">
            <a href="#comments"><%= @blog_post.blog_comments_count || 0 %>条评论</a>
          </div>
        </div>
        <div class="entry-content">
          <%=raw @blog_post.content %>
        </div>
        <% if @blog_tags.present? %>
          <div class="entry-footer">
            标签：
            <% @blog_tags.each do |blog_tag| %>
              <%=link_to blog_tag.name , blog_posts_path(:tag=>blog_tag.name) %>
            <% end %>
          </div>
        <% end %>

        <div class="comments">
          <h2 class="title">网友评论</h2>
          <div class="meta">
            <span>评论</span><span class="author">评价人</span>
          </div>
          <ul id="comments"> 
            <% @blog_comments.each do |blog_comment| %>
              <li class="comment" id="<%= blog_comment.id %>">
                <span><%= blog_comment.content %></span>
                <span class="author"><%= blog_comment.user.try(:profile).try(:name) %></span>
                <span class="created_at">(<%= blog_comment.created_at %>)</span>              
              </li>
            <% end %>
          </ul>
          <% if logged_in? %>
            <div class="post_comment">
              <%= form_tag blog_comments_path , :method=>:post do %>
                <%= hidden_field_tag :blog_post_id , @blog_post.id %>
                <%= text_area_tag :content %>
                <input type="button" value="发表评论" name="commit"></input>
              <% end %>
            </div>
          <% end %>

        </div>

      </li>
    </ul>
  </div>

  <div class="sidebar">
    <h2>推荐商品</h2>
    <ul>
      <% @products.each do |product| %>
        <li>
          <img src="<%= product.photos.first.url %>"/>
          <span><%= product.name %></span>
          <a href="<%= product_path(product) %>">>>点击进入</a>
        </li>      
      <% end %>
    </ul>
  </div>

</div>

<script type="text/javascript">
  $(function(){
    $("input[name='commit']").click(function(){
      if($.trim($("form #content").val())){
        $("form:last").submit();
      }
    });
  });
</script>