<h1>活动结果</h1>
<br />

<table>
  <tr class="tbCaption">
    <th>报价</th>
    <th>用户邮箱</th>
    <th>电话</th>
    <th>身高</th>
    <th>胖廋</th>
    <th>提交时间</th>
    <th>管理</th>
  </tr>

<% @events.each do |event| %>
<% user = event.user %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h event.price %></td>
    <td><%= user ? (link_to h(user.email), [:kadmin, user]) : '' %></td>

  <% if user and profile = user.profile %>
    <td><%= h profile.phone %></td>
    <td><%= h profile.height %></td>
    <td><%= h profile.figure %></td>
  <% end %>

    <td><%=h(show_time event.created_at)%></td>
    <td>
      <%= link_to '[删除]', [:kadmin, event], 
        :confirm => '确定删除?', :method => :delete %>
    </td>
  </tr>
<% end %>

</table>
<br />
<%= will_paginate @events, :previous_label => '< ', :next_label => ' >' %>
