<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="维衣致力于提供高品质的工作服、西服定制、衬衫定制等服务。为白领、中产阶级、特体、婚礼礼服等群体提供西装定制、衬衣定制服务，也可为企事业单位提供团体工作服定制服务。在北京可上门量体。"/>
  <meta name="keywords" content="西服定制，西装定制，衬衣定制，衬衫定制,工作服"/>
  <title><%= yield(:title).present? ? "#{yield(:title)}--" : nil || @title.present? ? "#{@title}--" : nil %>维衣--西服定制 西装定制 衬衣定制 衬衫定制 工作服</title>
  <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon"/>

  <link href="/stylesheets/admin.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/application.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/global.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/master.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/scaffold.css" type="text/css" rel="stylesheet">
  <link href="/stylesheets/index.css" type="text/css" rel="stylesheet">
  <%= stylesheet_link_tag "jquery_ui/blitzer/jquery.ui.all" %>

  <script type="text/javascript"  src="/javascripts/jquery1.42.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.SuperSlide.2.1.js"></script>
  <%= javascript_include_tag "jquery_ui/jquery.ui.core","jquery_ui/jquery.ui.widget","jquery_ui/jquery.ui.datepicker","jquery_ui/jquery.ui.datepicker-zh-CN" %>

</head>

<body>
  <div class="m mt20 sub">
    <div class="lg"><a href=""><img src="/images/logo_01.gif" width="280" height="60"></a></div>

    <div class="sub_a">
      <ul class="clearfix suub_nav">
        <% if logged_in? %>
        <li>欢迎 <%= current_user.email %> <%= link_to '[退出]', logout_path %></li>
        <% if current_user.role == User::ROOT %>
        <li> <%= link_to '[后台]', '/kadmin' %> </li>
        <% end %>
        <li>|</li>
        <li><%= link_to '我的维衣', current_user  %></li>
        <li>|</li>
        <li class="suub_nav_a"><%= link_to '购物车', {:controller => :cart, :action => :edit}  %></li>
        <li>|</li>
        <% else %>
        <li>欢迎来到维衣</li>
        <li><%= link_to "[登录]" , login_path %></li>
        <li><%= link_to "[还没注册?]" , register_path %></li>
        <% end %>
      </ul>
      <div class="suub_nav_b fr"><img src="/images/TEL_01.gif" width="160" height="24"></div>
    </div>

  </div>


  <div class="nav mt20">
    <ul class="m nav_a clearfix">

      <li><%= link_to raw('首页'), root_path, :title => '首页' %></li>
      <% @categories.each do |category| %>
      <li>
        <%=link_to(raw("#{category.name}"), "/#{category.url}", :title => h(category.name)) %>
      </li>
      <% end %>
      <li><a href="/measure_pages" title="量体中心">量体中心</a></li>
      <li><a href="/zhishitang" title="量体中心">知识堂</a></li>

    </ul>
  </div>

  <div class="nav_c"><div class="m nav_d">定制工期：衬衫3~5天，西服18~22天，请安排好时间。可加急，详情咨询客服</div></div>


  <%= render_flash_messages %>
  <% flash.discard %>

  <div class="ber">
    <% banner = @scrolling_banners.first %>
    <%= link_to(raw("<img src='#{banner.photo_url}' alt='#{h banner.name}' />"), banner.link_to, :title => h(banner.name)) %>
    <!-- <img src="/images/banner_01.jpg" width="1280" height="429"> -->
  </div>

  <div class="m clearfix">
    <ul class="address fl">
      <li><a href="http://www.365weiyi.com/helps/contact#chaoyang"><img src="/images/chaoyang.gif" width="91" height="24"></a></li>
      <li>地址：大望路万达广场3号楼301</li>
      <li>电话：58206725</li>
      <li class="mt5"><img src="/images/jt.gif" width="11" height="11"></li>
    </ul>

    <ul class="address fl">
      <li><a href="http://www.365weiyi.com/helps/contact#haidian"><img src="/images/wudaokou.gif" width="91" height="24"></a></li>
      <li>地址：海淀区五道口华清商务会馆703A</li>
      <li>电话：82864498</li>
      <li class="mt5"><img src="/images/jt.gif" width="11" height="11"></li>
    </ul>

    <ul class="address address_a fl">
      <!--
      <li class="address_c"><img src="/images/weibo_weixin.gif" width="91" height="24"></li>
      <li class="address_b address_c">
        <iframe width="100%" height="110" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?width=0&height=110&fansRow=2&ptype=1&speed=0&skin=-1&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2034391672&verifier=b8c5e1f7&colors=ffffff,ffffff,666666,0082cb"></iframe>
      </li>
      <li class="address_d"><img src="/images/code.gif" width="114" height="114"></li>
    -->
    <a href="http://www.365weiyi.com/notices/14"><img src="/images/kuai.jpg"/></a>
  </ul>

</div>


<div class="ber ber1"><div class="m"><img src="/images/eighteen.jpg" width="980" height="70"></div></div>

<div class="m"><div class="circuit"><img src="/images/procedures_0.gif" width="29" height="170"><img src="/images/procedures_1.gif" width="170" height="170"><img src="/images/procedures_2.gif" width="170" height="170"><img src="/images/procedures_3.gif" width="170" height="170"><img src="/images/procedures_4.gif" width="170" height="170"><a href=""><img src="/images/help.jpg" width="254" height="170"></a></div></div>

<div class="m circuit_a"><img src="/images/suit_01.gif" width="980" height="36"></div>
<div class="m circuit_b">维衣提供数千种面料，半毛衬等多种工艺，可半成品试衣</div>

<% if @suit_banner %>
<div class="m"><div class="circuit_c"><a href="javascript:;"><img src="/images/suit_02.gif" width="379" height="366"></a>
 <a href="<%= @suit_banner.link_to %>"><img src="<%= @suit_banner.photo_url %>" width="581" height="366"></a></div></div>
 <% end %>

 <div class="m">
  <ul class="clearfix circuit_d">
    <% @suit_products.each do |product| %>
    <li class="circuit_e">
      <ul>
        <li><a href="/products/<%= product.id %>"><img src="<%= product.photos.last.url %>" width="180" height="220"></a></li>
        <li class="circuit_f"><%=  product.name %></li>
        <li class="circuit_f circuit_g">￥<%= product.our_price %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>


<div class="m">
  <ul class="clearfix circuit_d">
    <li class="circuit_e"><a href=""><img src="/images/Sf_01.gif" width="180" height="60"></a></li>
    <% @brand_suits.each do |bs| %>
    <li class="circuit_e"><a href="<%= bs.link_to %>"><img src="<%= bs.photo_url %>" width="180" height="60"></a></li>
    <% end %>
  </ul>
</div>


<div class="m circuit_a"><img src="/images/shirt_01.gif" width="980" height="36"></div>
<div class="m circuit_b">进口辅料，每位客户单独留版，全网独一无二体验</div>

<div class="m">
  <% if @shirt_banner %>
  <div class="circuit_c"><a href="javascript:;"><img src="/images/shirt_02.gif" width="379" height="366"></a> 
    <a href="<%= @shirt_banner.link_to %>"><img src="<%= @shirt_banner.photo_url %>" width="581" height="366"></a></div></div>
    <% end %>

    <div class="m">
      <ul class="clearfix circuit_d">
        <% @shirt_products.each do |product| %>
        <li class="circuit_e">
          <ul>
            <li><a href="/products/<%= product.id %>"><img src="<%= product.photos.last.url %>" width="180" height="220"></a></li>
            <li class="circuit_f"> <%= product.name %> </li>
            <li class="circuit_f circuit_g">￥<%= product.our_price %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>


    <div class="m">
      <ul class="clearfix circuit_d">
        <li class="circuit_e"><a href=""><img src="/images/Sf_06.gif" width="180" height="60"></a></li>
        <% @brand_shirts.each do |bs| %>
        <li class="circuit_e"><a href="<%= bs.link_to %>"><img src="<%= bs.photo_url %>" width="180" height="60"></a></li>
        <% end %>
      </ul>
    </div>


    <div class="m circuit_a"><img src="/images/evaluate_01.gif" width="980" height="36"></div>
    <div class="m circuit_b circuit_bb">客户真实评价</div>
    <div class="m">
      <ul class="clearfix circuit_h">
        <li><img src="/images/evaluate_02.gif" width="296" height="436"></li>
        <li><img src="/images/evaluate_03.gif" width="297" height="437"></li>
        <li><img src="/images/evaluate_04.gif" width="296" height="437"></li>
      </ul>
    </div>

    <div class="m circuit_a"><img src="/images/customize.gif" width="980" height="36"></div>
    <div class="m circuit_b">您可以选择实体店定制，预约上门量体、在线自助定制</div>


    <div class="m clearfix customize">
      <div class="fl cust_fl">

        <div class="slideTxtBox">
         <div class="hd">
          <ul>
            <li>预约体验店量体</li>
            <li>预约上门量体</li>
          </ul>
        </div>

        <div class="bd">
          <%= form_tag reserve_shop_categories_path  do  %>
          <%= hidden_field_tag "reserve_shop[status]"  , 1 %>
          <div>
            <table cellpadding="0" cellspacing="0" border="0" class="cust_fl_a">
              <tr>
                <td class="cust_fl_b">时间：</td>
                <td>
                  <%= text_field_tag "reserve_shop[reserve_at]", @reserve_shop.reserve_at, :class=>"cust_input" %>
                </td>
              </tr>

              <tr>
                <td class="cust_fl_b">具体时间：</td>
                <td>
                  <%= select_tag "reserve_shop[day_when]" , options_for_select(reserve_times),:include_blank=>true %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">体验店：</td>
                <td> 
                  <%= select_tag "reserve_shop[shop_id]" , options_from_collection_for_select(Shop.all,:id,:name), { :include_blank=>true }  %>
                </td>
              </tr>

              <tr>
                <td class="cust_fl_b">要定：</td>
                <td>
                  <% ["西服","衬衫","大衣","团体定制","其他咨询"].each do |ele| %>
                  <%= check_box_tag "items[]", ele %> <%= ele %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">手机：</td>
                <td><%= text_field_tag "reserve_shop[phone]" , @reserve_shop.phone, :class=>"cust_input" %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">联系人：</td>
                <td>
                  <%= text_field_tag "reserve_shop[username]" , @reserve_shop.username, :class => "cust_input" %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b"></td>
                <td>
                  <%= submit_tag "预约" , :class=>"btns" %>
                </td>
              </tr>
            </table>  

          </div>
          <% end %>

          <div>

            <%= form_for(@reserve_ruler , :url=>reserve_ruler_categories_path)  do  |f| %>
            <%= hidden_field_tag "reserve_ruler[status]"  , 0 %>
            <table cellpadding="0" cellspacing="0" border="0" class="cust_fl_a">
              <tr>
                <td class="cust_fl_b">时间：</td>
                <td>
                  <%= f.text_field :reserve_at, :class => "cust_input" %>
                </td>
              </tr>

              <tr>
                <td class="cust_fl_b">具体时间：</td>
                <td>
                  <%= f.select "day_when" , options_for_select(reserve_times),:include_blank=>true %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">地点：</td>
                <td> 
                  <%= select_tag "province" , raw("<option>北京市</option>")  %>
                  <%= select_tag "city" , raw("<option>北京市</option>")  %>
                  <%= f.select "place_id"  , options_from_collection_for_select(Place.all,'id','area') , :include_blank=>true %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">详细地址：</td>
                <td>
                  <%= f.text_field "office" ,:size=>40, :class=>"cust_input" %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">要定：</td>
                <td>
                  <% ["西服","衬衫","大衣","团体定制","其他咨询"].each do |ele| %>
                  <%= check_box_tag "items[]"  , ele %> <%= ele %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">手机：</td>
                <td>
                  <%= f.text_field "phone", :class=>"cust_input" %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">联系人：</td>
                <td>
                  <%= f.text_field "username", :class=>"cust_input" %>
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">身高：</td>
                <td>
                  <%= f.text_field "height", :class=>"cust_input" %> cm
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">体重：</td>
                <td>
                  <%= f.text_field "weight", :class=>"cust_input" %> kg
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b">预算：</td>
                <td>
                  <%= f.text_field "fee", :class=>"cust_input" %> 元
                </td>
              </tr>
              <tr>
                <td class="cust_fl_b"></td>
                <td class="cust_fl_c">
                  <%= submit_tag "预约量体师" , :class=>"btns" %>
                </td>
              </tr>
            </table> 
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <div class="fl cust_fr">
      <div class="cust_fr_a">推荐量体师</div>
      <div class="cust_fr_b">
        <% @top_rulers.each do |tr| %>
        <% user = tr.user %>
        <ul class="cust_fr_c clearfix">
          <li class="cust_fr_d"><a href="<%= ba_user_path(user) %>" ><img src="<%= user.avatar_medium %>" width="109" height="145"></a></li>
          <li class="cust_fr_e">姓名：</li>
          <li class="cust_fr_e cust_fr_f"><a href="<%= ba_user_path(user) %>"> <%= user.profile.name %></a> </li>
          <li class="cust_fr_e">服务区域：</li>
          <li class="cust_fr_e cust_fr_f"><%= "#{user.human_places.scan(/[\u4e00-\u9fa5]*/)[0]}等" if user.human_places.present? %></li>
          <li class="cust_fr_e"> 手机：</li>
          <li class="cust_fr_e cust_fr_f"><%= user.profile.phone %></li>
        </ul>
        <% end %>
      </div>


    </div>
  </div>






  <div class="footer">
    <div class="m">
      <ul class="footer_a clearfix">
        <li><a href="/helps/about">关于维衣</a></li>
        <li>|</li>
        <li><a href="/helps/how">购买指南</a></li>
        <li>|</li>
        <li><a href="/helps/company-process">团体定制流程</a></li>
        <li>|</li>
        <li><a href="/helps/individual-process">个人定制流程</a></li>
        <li>|</li>
        <li><a href="/helps/timeline">工期说明</a></li>
        <li>|</li>
        <li><a href="/helps/service">售后服务</a></li>
        <li>|</li>
        <li><a href="/helps/career">工作机会</a></li>
        <li>|</li>
        <li><a href="/helps/contact">联系我们</a></li>
      </ul>

      <div class="footer_b">营业时间：周一到周日 10:00-19:00 节假日无休    联系电话：400-010-0013</div>
    </div>
  </div>
  <div class="footer_c">
    <div class="m "><div class="footer_d"><a href="">www.365weiyi.com</a> 版权所有 [v2.11.0709] [粤ICP备11023687号-1]</div></div>
  </div>

  <div class="weixin">
    <img src="/images/code.gif"/>
  </div>


</body>
</html>
<script type="text/javascript">jQuery(".slideTxtBox").slide();</script>

<script type="text/javascript">

function clickShop(){
  $("#ruler_li").removeClass("focus");
  $("#shop_li").addClass("focus");
  $("#reserve_ruler").hide();
  $("#reserve_shop").show();
};

<% if @errors %>
alert("<%=raw @errors %>");
<% end %>

<% if @reserve_shop.status == ReserveRuler::Status::Shop %>
clickShop();
<% end %>

$(function(){
  $("#ruler_li").click(function(){
    var $this = $(this);
    if($this.attr("class") != "focus"){
      $("#shop_li").removeClass("focus");
      $this.addClass("focus");
      $("#reserve_ruler").show();
      $("#reserve_shop").hide();
    }
  });
  $("#shop_li").click(function(){
    var $this = $(this);
    if($this.attr("class") != "focus"){
      clickShop();
    }
  });

  $.datepicker.regional[ "zh-CN" ]
  $("input[name='reserve_ruler[reserve_at]'],input[name='reserve_shop[reserve_at]']").datepicker({ minDate: 0 });

  $("#reserve_ruler_reserve_at,#reserve_shop_reserve_at").focus(function(){
    var $this = $(this);
    $this.next().hide();
  });
});
</script>



