<h1>修改评论</h1>
<p>
  <%= link_to '[评论列表]', kadmin_comments_path %>
  <%= link_to '[查看本评论]', [:kadmin, @comment] %>
</p>
<% form_for([:kadmin, @comment]) do |f| %>
  <%=error_messages_for @comment %>

  <p>
    <%= f.label :approved, '审核通过？' %>
    <%= f.check_box :approved %>
  </p>
  <p>
    <%= f.label :popularity, '排序：' %>
    <%= f.select :popularity, 0..9 %>
  </p>
  <p>
    <%= f.label :name, '内容：' %><br />
    <%= f.text_area :name, :size => '45x5' %>
  </p>
  <br />
  <p>
    <%= f.submit '确认修改' %>
  </p>
<% end %>
