<div class="login">
  <strong>我的身材数据</strong>
  <%= link_to '[量体中心]', measure_pages_path %> | 
  <%= link_to '[我的inono]', current_user %>
</div>

<div class="xian">
  <table width="100%" border="0" cellspacing="0" cellpadding="3">
    <tr>
      <td align="center" bgcolor="#7A7F89" class="fonts">图片</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">名称</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">尺寸</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">最后更新</td>
      <td align="center" bgcolor="#7A7F89" class="fonts">管理</td>
    </tr>
  <% if @measurements.empty? %>
    <tr><td><p>您还未量体</p></td></tr>
  <% else %>

    <% @measurements.each do |measure| %>
      <% measure_property = measure.measure_property %>

    <tr>
      <td align="center"><img src="<%=h measure_property.photo %>" alt="<%= h measure_property.name %>"></td>
      <td height="40" align="center">
        <%= (measure_property)? measure_property.name : "[数据出错]" %>
      </td>
      <td align="center"><%=h(measure.measure) %></td>
      <td align="center"><%= show_time measure.updated_at %></td>
      <td align="center">
        <%= link_to '[修改]', edit_measurement_path(measure) %>
        <%= link_to '[删除]', measurement_path(measure), 
          :confirm => '删除后数据不可恢复，您确定要删除？', :method => :delete %>
      </td>
    </tr>

  <% end %>

  <tr>
    <td height="30" colspan="4" align="left" class="fonts">
      <p><%= will_paginate @measures, :previous_label => '< ', 
          :next_label => ' >' %></p>
    </td>
  </tr>

<% end %>
</table>

</div><!-- xian -->
