<p>
  <b>Heigth:</b>
  <%=h @measure.heigth %>
</p>

<p>
  <b>Occupation:</b>
  <%=h @measure.occupation %>
</p>

<p>
  <b>Weight:</b>
  <%=h @measure.weight %>
</p>

<p>
  <b>Age:</b>
  <%=h @measure.age %>
</p>


<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>