<h1>新分类</h1>
<br />

<%= link_to '[分类列表]', kadmin_categories_path %>
<br /><br />

<% form_for([:kadmin, @category], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, '分类名: ' %>
    <%= f.text_field :name %> (*)
  </p>
  <p>
    <%= f.label :url, 'URL: ' %>
    <%= f.text_field :url %> (*非常重要！用于URL的构成)
  </p>
  <p>
    <%= f.label :url, '远程LOGO: ' %>
    <%= f.text_field :logo %>
  </p>
  <p style="margin-left:15px">
    <%= f.label :image, '或本地图片: ' %>
    <%= f.file_field :image %> (jpg, gif, png)
  </p>
  <p>
    <%= f.label :popularity, '排 序: ' %>
    <%= f.select :popularity, 0..9 %>(* 影响在首页菜单上的排序，越大越靠前)
  </p>
  <br />
  <p>
    <%= f.submit '创建' %>
  </p>
<% end %>
