<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Popularity:</b>
  <%=h @category.popularity %>
</p>

<p>
  <b>Subcategories count:</b>
  <%=h @category.subcategories_count %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>