<div class="m mt20 sub">
  <div class="lg"><a href="/"><img src="/images/logo_01.gif" width="280" height="60"></a></div>

  <div class="sub_a">
    <ul class="clearfix suub_nav">
      <% if logged_in? %>
      <li>欢迎 <%= current_user.email %> <%= link_to '[退出]', logout_path %></li>
      <% if current_user.role == User::ROOT %>
      <li> <%= link_to '[后台]', '/kadmin' %> </li>
      <% end %>
      <li>|</li>
      <li><%= link_to '我的维衣', current_user  %></li>
      <li>|</li>
      <li class="suub_nav_a"><%= link_to '购物车', {:controller => :cart, :action => :edit}  %></li>
      <li>|</li>
      <% else %>
      <li>欢迎来到维衣</li>
      <li><%= link_to "[登录]" , login_path %></li>
      <li><%= link_to "[还没注册?]" , register_path %></li>
      <% end %>
    </ul>
    <div class="suub_nav_b fr"><img src="/images/TEL_01.gif" width="160" height="24"></div>
  </div>
</div>

<div class="nav mt20">
  <ul class="m nav_a clearfix">

    <li><%= link_to raw('首页'), root_path, :title => '首页' %></li>
    <% @categories.each do |category| %>
    <li>
      <%=link_to(raw("#{category.name}"), "/#{category.url}", :title => h(category.name)) %>
    </li>
    <% end %>
    <li><a href="/measure_pages" title="量体中心">量体中心</a></li>
    <li><a href="/zhishitang" title="量体中心">知识堂</a></li>

  </ul>
</div>

<div class="nav_c">
  <div class="m nav_d">定制工期：衬衫3~5天，西服18~22天，请安排好时间。可加急，详情咨询客服</div>
</div>

