<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="维衣致力于提供高品质的工作服、西服定制、衬衫定制等服务。为白领、中产阶级、特体、婚礼礼服等群体提供西装定制、衬衣定制服务，也可为企事业单位提供团体工作服定制服务。在北京可上门量体。"/>
  <meta name="keywords" content="工作服，西服定制，西装定制，衬衣定制，衬衫定制"/>
  <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon"/>
  <title><%= yield(:title).present? ? "#{yield(:title)}--" : nil || @title.present? ? "#{@title}--" : nil %>维衣--工作服 西服定制 西装定制 衬衣定制 衬衫定制</title>
  <%= javascript_include_tag "jquery","rails" %>
  <%= stylesheet_link_tag 'global', "master" ,"application", "index" %>
  <%= javascript_include_tag "w",'menu', 'flashs',"product"  %>
</head>
<body>
  <%= render "layouts/header" %>
  <div id="wrapper">

    <%= render_flash_messages %>
    <% flash.discard %>

    <%= yield :layout %>

  </div>
  <%= render :partial => 'layouts/footer' %>

</body>
</html>