<h1>Editing measure_property</h1>

<% form_for(@measure_property) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @measure_property %> |
<%= link_to 'Back', measure_properties_path %>